<%= form_for [@post, @user, @comment] do |f| %>
<div>


        <p>
            <%= f.text_area(:comment, rows:3, class: "form-control")%>
        </p>

  </div>
  <%= f.submit "Comment" %>
  <% end %>
