<table>
<%= form_for [@post, @user, @comment] do |f| %>

<tr>
    <th>
        <%= f.label :comment %>
        <%= f.text_area :comment %>
    </th>

</table>
    <%= f.submit "Comment" %>

<% end %>
