// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comments-cont {
  height: 350px;
  overflow-y: scroll;
}
#topstories {
  height: 300px;
  width: 80%;
  overflow-y: hidden;
  overflow-x: auto;
}
#radarh {
  height: 100px;
}
.alert {
  padding: 8px;
  max-height: 37px;
}
.alert-success, .alert-info {
    color: white;
    background-color: black;
    border-color: black;

    background-image: -webkit-linear-gradient(top,black 0,black 100%);
    background-image: -o-linear-gradient(top,black 0,black 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(black),to(black));
    background-image: linear-gradient(to bottom,black 0,black 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='black', endColorstr='black', GradientType=0);
    background-repeat: repeat-x;
    border-color: black;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #333;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgba(0, 0, 0, 0.4);
    background-image: none;
    color: rgb(0, 0, 0);
}
a {
    color: red;
    text-decoration: none;
}
.row-fluid {
    overflow: auto;
    white-space: nowrap;
}

.row-fluid .col-lg-3 {
     display: inline-block;
     float: none;
}
.thumbnail .caption {
    padding: 0px;
    color: #333;
}
b, strong {
    font-weight: 400;
}
.form-control {
  width: 100%;
}
#log-f {
  width: 40%;
}
