// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comments-cont {
  height: 350px;
  overflow-y: scroll;
}
#topstories {
  height: 300px;
  width: 80%;
  overflow-y: hidden;
  overflow-x: auto;
}
#radarh {
  height: 100px;
}
.alert {
    text-align: center;
    padding: 6px;
    max-height: 37px;
    width: 65%;
    margin: 0px;
    float: right;
  }
.mainc {
  margin-top: 1%;
  width: 98%;
}
.mainci {
margin-top: -4%;
width: 95%;
}
.alert-success, .alert-info {
    color: white;
    background-color: black;
    border-color: black;
    width: 40%;
}
.glyphicon-resize-horizontal {
  width:40%;
  margin: 0 auto;
}
.alert-danger {
    background-color: white;
    border-color: rgba(216, 8, 8, 0.98);
    color: #f30702;
    width: 40%;
}
.nav-pills>li.active>a:hover {
  color: #fff;
  background-color: #032109;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, {
    color: #fff;
    background-color: #333;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgba(0, 0, 0, 0.4);
    background-image: none;
    color: rgb(0, 0, 0);
}
a {
    color: red;
    text-decoration: none;
}
.row-fluid {
    overflow: auto;
    white-space: nowrap;
}

.row-fluid .col-lg-3 {
     display: inline-block;
     float: none;
     width: 300px;
}
.thumbnail .caption {
    padding: 0px;
    color: #333;
}
b, strong {
    font-weight: 400;
}
.form-control {
  width: 95%;
}
#log-f {
  width: 40%;
}
.nav-pills>li+li {
    margin-right: 2px;
}
.more {
  float: right;
  margin-right: 10%;
}
.comnt {
  float: left;
  padding: 6px;
}

.nav-pills {
margin: 0 auto;
}
.panel-default {
    border-color: #ddd;
    width: 95%;
    margin: 2%;
    margin-bottom: 5%;
}
